<div id="page_sticky_header">
    <div class="row" ng-hide="version_edit_progress.is_active">

        <!--Searching Part-->

        <div class="col s1 offset-s1" style="text-align: end;">
            <h4></h4>
            <!--Clear Search-->
            <button class="red btn-small btn-floating waves-effect waves-light center-align"
                    ng-click="clear_search();"> <!--Clear Search-->
                <i class="material-icons">clear</i>
            </button>
        </div>

        <div class="col s8">

            <!--Data input type selection-->
            <div class="input-field col s3">
                <select id="reports_type_filter_select" ng-model="versions_filter_type_select_model" ng-change="change_data_input_type();" ng-init="versions_filter_type_select_model='ver'">
                    <option value="ver">Version</option>
                    <option value="date">Date</option>
                    <option value="desc">Description</option>
                </select>
                <label for="reports_type_filter_select">Search Type</label>
            </div>

            <!--Data input in case of VersionID or Description-->
            <div class="input-field col"
                 ng-show="versions_filter_type_select_model !== 'date'"
                 ng-class="[{'s9': versions_filter_type_select_model === 'desc'}, {'s3': versions_filter_type_select_model !== 'desc'}]">
                <input id="filter_version_data" type="text" placeholder="All" ng-model="version_data_filter_model" ng-change="search();">
                <label for="filter_version_data">
                    {{versions_filter_type_select_model == 'ver' ? "Version ID" : "Description"}}
                </label>
            </div>

            <!--Data input in case of Date-->
            <div class="input-field col s3"
                 style="/*min-width: 250px;*/"
                 ng-show="versions_filter_type_select_model === 'date'">
                <input type="date" id="filter_version_release_date" data-date-format="DD/MM/YYYY" ng-model="version_date_data_filter_model" ng-change="search();">
                <label for="filter_version_release_date">Release Date</label>
            </div>

            <!--Extra filter for VersionID base data input type [LT, Equal, GT]-->
            <div class="input-field col s6" ng-show="versions_filter_type_select_model == 'ver'">
                <select id="versions_version_type_filter_select" ng-model="versions_filter_select_model" ng-change="search();" ng-init="versions_filter_select_model='before'">
                    <option value="before">< [Until this version]</option>
                    <option value="equal">= [Only this version]</option>
                    <option value="after">> [From this version and on]</option>
                </select>
                <label for="versions_version_type_filter_select">Filter</label>
            </div>

            <!--Extra filter for Date base data input type [LT, GT]-->
            <div class="input-field col s6" ng-show="versions_filter_type_select_model == 'date'">
                <select id="versions_date_type_filter_select" ng-model="versions_filter_select_model" ng-change="search();">
                    <option value="before">< [Until this date]</option>
                    <option value="after">> [From this date and on]</option>
                </select>
                <label for="versions_date_type_filter_select">Filter</label>
            </div>
        </div>
    </div>
    <div class="nav-content">
        <!--Open a version addition form [modal]-->
        <a class="btn-large btn-floating modal-trigger halfway-fab waves-effect waves-light" href="#new_version_modal" ng-hide="version_edit_progress.is_active"><i class="material-icons">add</i></a>
    </div>
</div>