<!--All versions-->
<!--TODO: In description searching, there is a significance to the results order-->
<div class="center pages-bg" ng-show="versions_pages_count > 1">
    <a class="waves-effect waves-light btn blue darken-4" ng-disabled="versions_current_page == 1" ng-click="versions_current_page = versions_current_page - 1">Previous</a>
    {{versions_current_page}}/{{versions_pages_count}}
    <a class="waves-effect waves-light btn blue darken-4" ng-disabled="versions_current_page == versions_pages_count" ng-click="versions_current_page = versions_current_page + 1">Next</a>
</div>

<div id="versions_table" ng-repeat="version_data in versions_list
                                    | orderBy: ['-version']
                                    | versions_filter :
                                    versions_current_page :
                                    num_versions_for_page_model"
     versions-update-d ng-hide="version_edit_progress.is_active && version_data.version != version_edit_progress.version">

    <!--row: From v___ To v___ Actions-->
    <div class="row"
         ng-mouseenter="version_data.show_options = true"
         ng-mouseleave="version_data.show_options = false"
         ng-init="version_data.show_options = false">

        <!--Presentation: From-->
        <div class="col s3" ng-show="version_data.view_state">
            <h4>From: <u ng-click="version_data.is_prev_version_exists && search_version(version_data.prev_version);"
                         ng-style="!version_data.is_prev_version_exists &&
                                                    {'text-decoration-line': 'line-through'} ||
                                                    {'cursor': 'pointer'}">{{version_data.prev_version}}
                </u>
            </h4>
        </div>
        <!--Modify: From field-->
        <div class="col s4" ng-hide="version_data.view_state">
                        <span style="display: inline-block;">
                            <h4>From:</h4>
                        </span>
            <div class="input-field inline">
                <input id="modify_version_from_{{version_data.version}}" type="text">
                <label for="modify_version_from_{{version_data.version}}">Previous Version</label>
            </div>
        </div>

        <!--Presentation: To-->
        <div class="col s4" ng-show="version_data.view_state">
            <h4>To: <u style="cursor: pointer" ng-click="search_version(version_data.version);">{{version_data.version}}</u></h4>
        </div>
        <!--Modify: To field-->
        <div class="col s4" ng-hide="version_data.view_state">
                        <span style="display: inline-block;">
                            <h4>To:</h4>
                        </span>
            <div class="input-field inline">
                <input id="modify_version_version_id_{{version_data.version}}" type="text">
                <label for="modify_version_version_id_{{version_data.version}}">[This] Version ID</label>
            </div>
        </div>

        <!--Version Actions-->
        <div class="col 3" ng-show="version_data.show_options || !version_data.view_state">
            <h4></h4>

            <!--Edit Version-->
            <button ng-show="version_data.view_state" class="btn-small blue btn-floating waves-effect waves-light center-align" ng-click="modify_version_view_state(version_data, false)"> <!--Edit-->
                <i class="material-icons">create</i>
            </button>

            <!--Remove Version-->
            <button ng-show="version_data.view_state" class="red btn-small btn-floating waves-effect waves-light center-align" ng-click="remove_version(version_data.version)"> <!--Delete-->
                <i class="material-icons">delete_forever</i>
            </button>

            <!--Save Version After Modification-->
            <button ng-hide="version_data.view_state" class="btn-small blue btn-floating waves-effect waves-light center-align" ng-click="modify_version(version_data)"> <!--Save-->
                <i class="material-icons">check</i>
            </button>

            <!--Cancel Version Modification-->
            <button ng-hide="version_data.view_state" class="red btn-small btn-floating waves-effect waves-light center-align" ng-click="cancel_modify_version(version_data)"> <!--Cancel-->
                <i class="material-icons">clear</i>
            </button>
        </div>
    </div>
    <div class="row">

        <!--Version Details-->
        <div ng-show="version_data.details != '' || !version_data.view_state">
            <!--Presentation-->
            <div class="col s2">
                <b>Details:</b>
            </div>
            <!--Modification-->
            <div class="col s10">
                <span ng-show="version_data.view_state">{{version_data.details}}</span>
                <span ng-hide="version_data.view_state" class="input-field inline">
                                <input id="modify_version_details_{{version_data.version}}" type="text">
                                <label for="modify_version_details_{{version_data.version}}">Version Details</label>
                            </span>
            </div>
        </div>

        <!--Version Downloader-->
        <div ng-show="version_data.downloader != '' || !version_data.view_state">
            <!--Presentation-->
            <div class="col s2">
                <b>Downloader:</b>
            </div>
            <!--Modification-->
            <div class="col s10">
                <span ng-show="version_data.view_state">{{version_data.downloader}}</span>
                <span ng-hide="version_data.view_state" class="input-field inline">
                                <input id="modify_version_downloader_{{version_data.version}}" type="text">
                                <label for="modify_version_downloader_{{version_data.version}}">Downloader</label>
                            </span>
            </div>
        </div>

        <!--Version Release Date-->
        <div>
            <!--Presentation-->
            <div class="col s2">
                <b>Release Date:</b>
            </div>
            <!--Modification-->
            <div class="col s10">
                <span ng-show="version_data.view_state">{{version_data.release_date}}</span>
                <span ng-hide="version_data.view_state" class="input-field inline" style="min-width: 250px;">
                                <input type="date" id="modify_version_release_date_{{version_data.version}}" data-date-format="DD/MM/YYYY">
                                <label for="modify_version_release_date_{{version_data.version}}">Release Date</label>
                            </span>
            </div>
        </div>

        <!--Global Version Known Issues-->
        <div ng-show="version_data.known_issues != '' || !version_data.view_state">
            <!--Presentation-->
            <div class="col s2">
                <b>Known Issues:</b>
            </div>
            <!--Modification-->
            <div class="col s10">
                <span ng-show="version_data.view_state">{{version_data.known_issues}}</span>
                <span ng-hide="version_data.view_state" class="input-field inline">
                                <input id="modify_version_known_issues_{{version_data.version}}" type="text">
                                <label for="modify_version_known_issues_{{version_data.version}}">Known Issues</label>
                            </span>
            </div>
        </div>
    </div>

    <!--Version Properties Table-->
    <%include ../partials/version_properties_table.ejs%>

    <br><br>
</div>

<div class="center pages-bg" ng-show="versions_pages_count > 1">
    <a class="waves-effect waves-light btn blue darken-4" ng-disabled="versions_current_page == 1" ng-click="versions_current_page = versions_current_page - 1">Previous</a>
    {{versions_current_page}}/{{versions_pages_count}}
    <a class="waves-effect waves-light btn blue darken-4" ng-disabled="versions_current_page == versions_pages_count" ng-click="versions_current_page = versions_current_page + 1">Next</a>
</div>