<!DOCTYPE html>
<html lang="en" ng-app="global_app" ng-cloak>
<head>
    <% include ../partials/head.ejs %>
    <script type="text/javascript" src="/js/global.js"></script>
</head>

<body class="rtl login-background" ng-controller="body_controller">
    <div id="page_content">
        <div class="row">
            <div class="s12 center">
                <img src="../images/icare-logo.png" style="width: 75%; max-width: min-content;">
            </div>
        </div>
    </div>

    <% include ../partials/footer.html %>
</body>
</html>