<!DOCTYPE html>
<html lang="en" ng-app="global_app" ng-cloak>

<%include ../partials/head.ejs%>

<body class="rtl" ng-controller="body_controller" data-ng-init="init()" style="background-image: url('/resources/images/background5.png'); background-size: auto;">
    <!--<video style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;" src="/resources/images/background.mp4" autoplay="autoplay" loop="loop"></video>-->

    <%include ../partials/nav.ejs%>

    <div id="page_content">
        <br><br><br><br>
        <div style="padding: 0 0.75rem;">

            <%include ../partials/versions_table.ejs%>

        </div>
    </div>

    <%include ../partials/modals/new_version.html%>
</body>
</html>