<!DOCTYPE html>
<html lang="en" ng-app="global_app" ng-cloak>

<%include ../partials/head.ejs%>

<body class="rtl" ng-controller="body_controller" data-ng-init="init()" style="
                background-image: url('/resources/images/background5.png');
                background-size: auto;">
    <!--<video style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;" src="/resources/images/background.mp4" autoplay="autoplay" loop="loop"></video>-->

    <%include ../partials/nav.ejs%>

    <div id="page_content">
        <br><br><br><br>
        <div style="padding: 0 0.75rem;">

            <!--All versions-->
            <!--TODO: In description searching, there is a significance to the results order-->
            <div id="versions_table" ng-repeat="version_data in versions_list | orderBy: ['-version']" versions-update-d ng-hide="version_edit_progress.is_active && version_data.version != version_edit_progress.version">

                <!--row: From v___ To v___ Actions-->
                <div class="row"
                     ng-mouseenter="version_data.show_options = true"
                     ng-mouseleave="version_data.show_options = false"
                     ng-init="version_data.show_options = false">

                    <!--Presentation: From-->
                    <div class="col s3" ng-show="version_data.view_state">
                        <h4>From: <u ng-click="version_data.is_prev_version_exists && search_version(version_data.prev_version);"
                                     ng-style="!version_data.is_prev_version_exists &&
                                                    {'text-decoration-line': 'line-through'} ||
                                                    {'cursor': 'pointer'}">{{version_data.prev_version}}
                            </u>
                        </h4>
                    </div>
                    <!--Modify: From field-->
                    <div class="col s4" ng-hide="version_data.view_state">
                        <span style="display: inline-block;">
                            <h4>From:</h4>
                        </span>
                        <div class="input-field inline">
                            <input id="modify_version_from_{{version_data.version}}" type="text">
                            <label for="modify_version_from_{{version_data.version}}">Previous Version</label>
                        </div>
                    </div>

                    <!--Presentation: To-->
                    <div class="col s4" ng-show="version_data.view_state">
                        <h4>To: <u style="cursor: pointer" ng-click="search_version(version_data.version);">{{version_data.version}}</u></h4>
                    </div>
                    <!--Modify: To field-->
                    <div class="col s4" ng-hide="version_data.view_state">
                        <span style="display: inline-block;">
                            <h4>To:</h4>
                        </span>
                        <div class="input-field inline">
                            <input id="modify_version_version_id_{{version_data.version}}" type="text">
                            <label for="modify_version_version_id_{{version_data.version}}">[This] Version ID</label>
                        </div>
                    </div>

                    <!--Version Actions-->
                    <div class="col 3" ng-show="version_data.show_options || !version_data.view_state">
                        <h4></h4>

                        <!--Edit Version-->
                        <button ng-show="version_data.view_state" class="btn-small blue btn-floating waves-effect waves-light center-align" ng-click="modify_version_view_state(version_data, false)"> <!--Edit-->
                            <i class="material-icons">create</i>
                        </button>

                        <!--Remove Version-->
                        <button ng-show="version_data.view_state" class="red btn-small btn-floating waves-effect waves-light center-align" ng-click="remove_version(version_data.version)"> <!--Delete-->
                            <i class="material-icons">delete_forever</i>
                        </button>

                        <!--Save Version After Modification-->
                        <button ng-hide="version_data.view_state" class="btn-small blue btn-floating waves-effect waves-light center-align" ng-click="modify_version(version_data)"> <!--Save-->
                            <i class="material-icons">check</i>
                        </button>

                        <!--Cancel Version Modification-->
                        <button ng-hide="version_data.view_state" class="red btn-small btn-floating waves-effect waves-light center-align" ng-click="cancel_modify_version(version_data)"> <!--Cancel-->
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                </div>
                <div class="row">

                    <!--Version Details-->
                    <div ng-show="version_data.details != '' || !version_data.view_state">
                        <!--Presentation-->
                        <div class="col s2">
                            <b>Details:</b>
                        </div>
                        <!--Modification-->
                        <div class="col s10">
                            <span ng-show="version_data.view_state">{{version_data.details}}</span>
                            <span ng-hide="version_data.view_state" class="input-field inline">
                                <input id="modify_version_details_{{version_data.version}}" type="text">
                                <label for="modify_version_details_{{version_data.version}}">Version Details</label>
                            </span>
                        </div>
                    </div>

                    <!--Version Downloader-->
                    <div ng-show="version_data.downloader != '' || !version_data.view_state">
                        <!--Presentation-->
                        <div class="col s2">
                            <b>Downloader:</b>
                        </div>
                        <!--Modification-->
                        <div class="col s10">
                            <span ng-show="version_data.view_state">{{version_data.downloader}}</span>
                            <span ng-hide="version_data.view_state" class="input-field inline">
                                <input id="modify_version_downloader_{{version_data.version}}" type="text">
                                <label for="modify_version_downloader_{{version_data.version}}">Downloader</label>
                            </span>
                        </div>
                    </div>

                    <!--Version Release Date-->
                    <div>
                        <!--Presentation-->
                        <div class="col s2">
                            <b>Release Date:</b>
                        </div>
                        <!--Modification-->
                        <div class="col s10">
                            <span ng-show="version_data.view_state">{{version_data.release_date}}</span>
                            <span ng-hide="version_data.view_state" class="input-field inline" style="min-width: 250px;">
                                <input type="date" id="modify_version_release_date_{{version_data.version}}" data-date-format="DD/MM/YYYY">
                                <label for="modify_version_release_date_{{version_data.version}}">Release Date</label>
                            </span>
                        </div>
                    </div>

                    <!--Global Version Known Issues-->
                    <div ng-show="version_data.known_issues != '' || !version_data.view_state">
                        <!--Presentation-->
                        <div class="col s2">
                            <b>Known Issues:</b>
                        </div>
                        <!--Modification-->
                        <div class="col s10">
                            <span ng-show="version_data.view_state">{{version_data.known_issues}}</span>
                            <span ng-hide="version_data.view_state" class="input-field inline">
                                <input id="modify_version_known_issues_{{version_data.version}}" type="text">
                                <label for="modify_version_known_issues_{{version_data.version}}">Known Issues</label>
                            </span>
                        </div>
                    </div>
                </div>

                <!--Version's Properties-->
                <table class="highlight responsive-table centered" ng-show="version_data.view_state">
                    <thead>
                    <tr>
                        <th>-</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Tests Scope</th>
                        <th>Tests Details</th>
                        <th>Known Issuse</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="property in version_data.properties">

                            <!--Options-->
                            <td>
                                <div class="row" style="min-width: 90px;">
                                    <div class="col s4">
                                        <button class="btn-small blue btn-floating waves-effect waves-light" ng-click="modify_property_view_state(property, false)" ng-show="property.view_state"> <!--Edit-->
                                            <i class="material-icons">create</i>
                                        </button>
                                        <button class="btn-small btn-floating waves-effect waves-light" ng-click="modify_property(version_data.version, property._id)" ng-show="!property.view_state"> <!--Apply modifying-->
                                            <i class="material-icons">check</i>
                                        </button>
                                    </div>
                                    <div class="col s2"></div>
                                    <div class="col s4">
                                        <button class="btn-small red btn-floating waves-effect waves-light" ng-click="remove_property(version_data.version, property._id)" ng-show="property.view_state"> <!--Remove-->
                                            <i class="material-icons">delete_forever</i>
                                        </button>
                                        <button class="btn-small red btn-floating waves-effect waves-light" ng-click="modify_property_view_state(property, true)" ng-show="!property.view_state"> <!--Cancel modifying-->
                                            <i class="material-icons">clear</i>
                                        </button>
                                    </div>
                                </div>
                            </td>

                            <!--Type-->
                            <td ng-show="property.view_state">{{property.type}}</td>
                            <td ng-hide="property.view_state">
                                <div class="input-field inline">
                                    <select id="modify_property_type_{{property._id}}">
                                        <option value="Feature">Feature</option>
                                        <option value="Fix Bug">Fix Bug</option>
                                        <option value="Change">Change</option>
                                        <option value="Deprecated">Deprecated</option>
                                    </select>
                                    <label for="modify_property_type_{{property._id}}">Type</label>
                                </div>
                            </td>

                            <!--Description-->
                            <td ng-show="property.view_state" ng-bind-html="property.description"></td>
                            <td ng-hide="property.view_state">
                                <div class="input-field inline">
                                    <input id="modify_property_description_{{property._id}}" type="text">
                                    <label for="modify_property_description_{{property._id}}">Description</label>
                                </div>
                            </td>

                            <!--Tests Scope-->
                            <td ng-show="property.view_state">{{property.tests_scope}}</td>
                            <td ng-hide="property.view_state">
                                <div class="input-field inline">
                                    <select id="modify_property_tests_scope_{{property._id}}">
                                        <option value="None">None</option>
                                        <option value="Partial">Partial</option>
                                        <option value="Large">Large</option>
                                        <option value="Full">Full</option>
                                    </select>
                                    <label for="modify_property_tests_scope_{{property._id}}">Tests Scope</label>
                                </div>
                            </td>

                            <!--Tests Details-->
                            <td ng-show="property.view_state" ng-bind-html="property.tests_details || '-'"></td>
                            <td ng-hide="property.view_state">
                                <div class="input-field inline">
                                    <input id="modify_property_tests_details_{{property._id}}" type="text">
                                    <label for="modify_property_tests_details_{{property._id}}">Tests Details</label>
                                </div>
                            </td>

                            <!--Known Issues-->
                            <td ng-show="property.view_state" class="lighten-4" ng-class="[{red: property.known_issues != ''}]" ng-bind-html="property.known_issues || '-'"></td>
                            <td ng-hide="property.view_state">
                                <div class="input-field inline">
                                    <input id="modify_property_known_issues_{{property._id}}" type="text">
                                    <label for="modify_property_known_issues_{{property._id}}">Known Issues</label>
                                </div>
                            </td>
                        </tr>

                        <!--New Version's Property-->
                        <tr>

                            <!--New Property Add Button-->
                            <td>
                                <button class="btn-small btn-floating waves-effect waves-light" ng-click="new_property(version_data.version)">
                                    <i class="material-icons">add</i>
                                </button>
                            </td>

                            <!--New Property Type-->
                            <td>
                                <div class="input-field inline" style="min-width: 90px;">
                                    <select id="new_version_property_type_{{version_data.version}}">
                                        <option value="Feature">Feature</option>
                                        <option value="Fix Bug">Fix Bug</option>
                                        <option value="Change">Change</option>
                                        <option value="Deprecated">Deprecated</option>
                                    </select>
                                    <label for="new_version_property_type_{{version_data.version}}">Type</label>
                                </div>
                            </td>

                            <!--New Property Description-->
                            <td>
                                <div class="input-field inline">
                                    <input id="new_version_property_description_{{version_data.version}}" type="text">
                                    <label for="new_version_property_description_{{version_data.version}}">Description</label>
                                </div>
                            </td>

                            <!--New Property Tests Scope-->
                            <td>
                                <div class="input-field inline" style="min-width: 90px;">
                                    <select id="new_version_property_tests_scope_{{version_data.version}}">
                                        <option value="None">None</option>
                                        <option value="Partial">Partial</option>
                                        <option value="Large">Large</option>
                                        <option value="Full">Full</option>
                                    </select>
                                    <label for="new_version_property_tests_scope_{{version_data.version}}">Tests Scope</label>
                                </div>
                            </td>

                            <!--New Property Tests Details-->
                            <td>
                                <div class="input-field inline">
                                    <input id="new_version_property_tests_details_{{version_data.version}}" type="text">
                                    <label for="new_version_property_tests_details_{{version_data.version}}">Tests Details</label>
                                </div>
                            </td>

                            <!--New Property Known Issues-->
                            <td>
                                <div class="input-field inline">
                                    <input id="new_version_property_known_issues_{{version_data.version}}" type="text">
                                    <label for="new_version_property_known_issues_{{version_data.version}}">Known Issues</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br><br>
            </div>
        </div>
    </div>

    <%include ../partials/modals/new_version.html%>
</body>
</html>