<!DOCTYPE html>
<html lang="en" ng-app="global_app" ng-cloak>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/resources/css/materialize.css" />
    <link rel="stylesheet" href="/resources/css/material-icons.css" />
    <link rel="stylesheet" href="/resources/css/alertify.core.css" />
    <link rel="stylesheet" href="/resources/css/alertify.bootstrap.css" />
    <link rel="stylesheet" href="/resources/css/alertify.lightbox.css" />
    <link rel="stylesheet" href="/resources/css/alertify.tooltip-classic.css" />
    <link rel="stylesheet" href="/css/datetime.css" />
    <script type="text/javascript" src="/resources/js/jQuery.js"></script>
    <script type="text/javascript" src="/resources/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/resources/js/angularJS.js"></script>
    <script type="text/javascript" src="/resources/js/materialize.js"></script>
    <script type="text/javascript" src="/resources/js/alertify.js"></script>
    <script type="text/javascript" src="/resources/js/lightbox.js"></script>
    <script type="text/javascript" src="/resources/js/moment.js"></script>
    <script type="text/javascript" src="/js/home.js"></script>
    <script type="text/javascript" src="/js/init/init.js"></script>
</head>

<body class="rtl login-background" ng-controller="body_controller" data-ng-init="init()">
    <div id="page_content">
        <br>
        <div class="row">
            <div class="col s3"></div>
            <div class="col s8">
                <div class="input-field inline col s3">
                    <input id="filter_version_id" name="filter_version_id" type="text" placeholder="All" ng-model="version_id_filter_model" ng-change="search();">
                    <label for="filter_version_id">Version ID</label>
                </div>
                <div class="input-field inline col s6">
                    <select id="reports_type_filter_select" ng-model="versions_filter_select_model" ng-change="search();" ng-init="versions_filter_select_model='equal'">
                        <option value="before">< [Until this version]</option>
                        <option value="after">> [From this version and on]</option>
                        <option value="equal">= [Only this version]</option>
                    </select>
                    <label for="reports_type_filter_select">Filter</label>
                </div>
            </div>
        </div>

        <div style="padding: 0 0.75rem;">

            <!--Open a version addition form [modal]-->
            <a class="btn-large btn-floating modal-trigger" href="#new_version_modal"><i class="material-icons">add</i></a>

            <!--All versions-->
            <div ng-repeat="version_data in versions_list | orderBy: ['-version']" versions-update-d>
                <div class="row">
                    <div class="col s3">
                        <h4>From: <u>{{version_data.prev_version}}</u></h4>
                    </div>
                    <div class="col s3">
                        <h4>To: <u>{{version_data.version}}</u></h4>
                    </div>
                </div>
                <div class="row">
                    <div ng-show="version_data.details != ''">
                        <div class="col s2">
                            <b>Details:</b>
                        </div>
                        <div class="col s10">
                            <span>{{version_data.details}}</span>
                        </div>
                    </div>
                    <div ng-show="version_data.downloader != ''">
                        <div class="col s2">
                            <b>Downloader:</b>
                        </div>
                        <div class="col s10">
                            <span>{{version_data.downloader}}</span>
                        </div>
                    </div>
                    <div class="col s2">
                        <b>Release Date:</b>
                    </div>
                    <div class="col s10">
                        <span>{{version_data.release_date}}</span>
                    </div>
                    <div ng-show="version_data.known_issues != ''">
                        <div class="col s2">
                            <b>Known Issues:</b>
                        </div>
                        <div class="col s10">
                            <span>{{version_data.known_issues}}</span>
                        </div>
                    </div>
                </div>
                <table class="highlight responsive-table centered">
                    <thead>
                    <tr>
                        <th>-</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Tests Scope</th>
                        <th>Tests Details</th>
                        <th>Known Issuse</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="property in version_data.properties">
                            <!--Options-->
                            <td>
                                <div class="row" style="min-width: 90px;">
                                    <div class="col s4">
                                        <button class="btn-small blue btn-floating" ng-click="modify_property_view_state(property, false)" ng-show="property.view_state"> <!--Edit-->
                                            <i class="material-icons">create</i>
                                        </button>
                                        <button class="btn-small btn-floating" ng-click="modify_property(version_data.version, property._id)" ng-show="!property.view_state"> <!--Apply modifying-->
                                            <i class="material-icons">check</i>
                                        </button>
                                    </div>
                                    <div class="col s2"></div>
                                    <div class="col s4">
                                        <button class="btn-small red btn-floating" ng-click="remove_property(version_data.version, property._id)" ng-show="property.view_state"> <!--Remove-->
                                            <i class="material-icons">delete_forever</i>
                                        </button>
                                        <button class="btn-small red btn-floating" ng-click="modify_property_view_state(property, true)" ng-show="!property.view_state"> <!--Cancel modifying-->
                                            <i class="material-icons">clear</i>
                                        </button>
                                    </div>
                                </div>
                            </td>

                            <!--Type-->
                            <td ng-show="property.view_state">{{property.type}}</td>
                            <td ng-show="!property.view_state">
                                <div class="input-field inline">
                                    <select id="modify_property_type_{{property._id}}">
                                        <option value="Feature">Feature</option>
                                        <option value="Fix Bug">Fix Bug</option>
                                        <option value="Change">Change</option>
                                        <option value="Deprecated">Deprecated</option>
                                    </select>
                                    <label for="modify_property_type_{{property._id}}">Type</label>
                                </div>
                            </td>

                            <!--Description-->
                            <td ng-show="property.view_state">{{property.description}}</td>
                            <td ng-show="!property.view_state">
                                <div class="input-field inline">
                                    <input id="modify_property_description_{{property._id}}" type="text">
                                    <label for="modify_property_description_{{property._id}}">Description</label>
                                </div>
                            </td>

                            <!--Tests Scope-->
                            <td ng-show="property.view_state">{{property.tests_scope}}</td>
                            <td ng-show="!property.view_state">
                                <div class="input-field inline">
                                    <select id="modify_property_tests_scope_{{property._id}}">
                                        <option value="None">None</option>
                                        <option value="Partial">Partial</option>
                                        <option value="Large">Large</option>
                                        <option value="Full">Full</option>
                                    </select>
                                    <label for="modify_property_tests_scope_{{property._id}}">Tests Scope</label>
                                </div>
                            </td>

                            <!--Tests Details-->
                            <td ng-show="property.view_state">{{property.tests_details || '-'}}</td>
                            <td ng-show="!property.view_state">
                                <div class="input-field inline">
                                    <input id="modify_property_tests_details_{{property._id}}" type="text">
                                    <label for="modify_property_tests_details_{{property._id}}">Tests Details</label>
                                </div>
                            </td>

                            <!--Known Issues-->
                            <td ng-show="property.view_state" class="lighten-4" ng-class="[{red: property.known_issues != ''}]">{{property.known_issues || '-'}}</td>
                            <td ng-show="!property.view_state">
                                <div class="input-field inline">
                                    <input id="modify_property_known_issues_{{property._id}}" type="text">
                                    <label for="modify_property_known_issues_{{property._id}}">Known Issues</label>
                                </div>
                            </td>
                        </tr>

                        <!--New Version Property-->
                        <tr>
                            <td>
                                <button class="btn-small btn-floating" ng-click="new_property(version_data.version)">
                                    <i class="material-icons">add</i>
                                </button>
                            </td>
                            <td>
                                <div class="input-field inline" style="min-width: 90px;">
                                    <select id="new_version_property_type_{{version_data.version}}">
                                        <option value="Feature">Feature</option>
                                        <option value="Fix Bug">Fix Bug</option>
                                        <option value="Change">Change</option>
                                        <option value="Deprecated">Deprecated</option>
                                    </select>
                                    <label for="new_version_property_type_{{version_data.version}}">Type</label>
                                </div>
                            </td>
                            <td>
                                <div class="input-field inline">
                                    <input id="new_version_property_description_{{version_data.version}}" type="text">
                                    <label for="new_version_property_description_{{version_data.version}}">Description</label>
                                </div>
                            </td>
                            <td>
                                <div class="input-field inline" style="min-width: 90px;">
                                    <select id="new_version_property_tests_scope_{{version_data.version}}">
                                        <option value="None">None</option>
                                        <option value="Partial">Partial</option>
                                        <option value="Large">Large</option>
                                        <option value="Full">Full</option>
                                    </select>
                                    <label for="new_version_property_tests_scope_{{version_data.version}}">Tests Scope</label>
                                </div>
                            </td>
                            <td>
                                <div class="input-field inline">
                                    <input id="new_version_property_tests_details_{{version_data.version}}" type="text">
                                    <label for="new_version_property_tests_details_{{version_data.version}}">Tests Details</label>
                                </div>
                            </td>
                            <td>
                                <div class="input-field inline">
                                    <input id="new_version_property_known_issues_{{version_data.version}}" type="text">
                                    <label for="new_version_property_known_issues_{{version_data.version}}">Known Issues</label>
                                </div>
                            </td>
                        </tr>
                    <!--<tr ng-click="open_report(report)" style="cursor: pointer;" ng-class="report.status_id==1 ? 'red' : ''"
                        ng-repeat="report in reports_list
                                | reports_filter:
                                reports_filter_select_model :
                                reports_guidance_bases_filter_select_model :
                                reports_current_page :
                                num_reports_for_page_model
                                | orderBy: ['status_id', '-date']">
                        <td>{{report.time + " " + report.date}}</td>
                        <td>{{report.soldier || report.place}}</td>
                        <td>{{report.status}}</td>
                        <td>{{report.guidance_base_name}}</td>
                    </tr>-->
                    </tbody>
                </table>
                <br><br>
            </div>
            <div class="center" ng-show="reports_pages_count > 1">
    <!--            <a class="waves-effect waves-light btn blue darken-4" ng-disabled="reports_current_page == 1" ng-click="reports_current_page = reports_current_page - 1">הקודם</a>-->
    <!--            {{reports_current_page}}/{{reports_pages_count}}-->
    <!--            <a class="waves-effect waves-light btn blue darken-4" ng-disabled="reports_current_page == reports_pages_count" ng-click="reports_current_page = reports_current_page + 1">הבא</a>-->
            </div>
        </div>
    </div>

    <%include ../partials/modals/new_version.html%>
</body>
</html>