<!--TODO configure this page-->

<!DOCTYPE html>
<html lang="en" ng-app="global_app" ng-cloak>

<% include ../partials/head.ejs %>

<body class="rtl" ng-controller="body_controller">
    <% if (is_connection_failed) { %>
        <script>
            alertify.error("התחברות נכשלה: פרטי משתמש שגויים.");
        </script>
    <% } %>
    <div id="page_content">
        <div class="row">
            <div class="s12 center">
                <!--<img src="../images/icare-logo.png" style="width: 75%; max-width: min-content;">-->
            </div>
        </div>
        <div class="row" style="padding-top: 20px;">
            <div class="s12 center">
                <h3 class="blue-text text-darken-4">Login</h3>
            </div>
        </div>
        <div class="row" style="margin: 0 auto; display: flex;">
            <form method="post" action="" class="col s12 m4" style="margin: 0 auto;">
                <div class="row">
                    <div class="input-field col s12">
                        <input name="userid" maxlength="7" minlength="7" id="first_name" type="number" class="validate">
                        <label for="first_name">username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="pwd" id="last_name" type="password" class="validate">
                        <label for="last_name">password</label>
                    </div>
                </div>
                <div class="row left-align" style="padding-left: .75rem;">
                    <button class="btn waves-effect waves-light" style="background-color: #00205a" type="submit" name="action">Login
                        <i class="material-icons right">fiber_manual_record</i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <% include ../partials/footer.html %>
</body>
</html>